[[SUBJECT: [P2P] {{side}} {{assetid}} - Dispute started]]
<h3 style="color: #3771c8;">{{side}} {{assetid}} - Dispute started</h3>
<p>
    We are sorry to hear you were unable to complete your P2P transaction.
    Please contact the counterparty user on the P2P chat to reach an agreement as soon as possible.
    After 24 hours, Infinex staff will step in to help you resolve the dispute.
</p>
<p>
    <strong>Nickname:</strong> {{nickname}}
    <br>
    <strong>Crypto amount:</strong> {{amount_crypto}} {{assetid}}
    <br>
    <strong>Fiat amount:</strong> {{amount_fiat}} {fiatid}}
    <br>
    <strong>Price:</strong> {{price}} {{fiatid}}
</p>
<p>
    Go to the transaction:<br>
    <a href="https://infinex.cc/p2p/transaction/{{ptid}}">
        https://infinex.cc/p2p/transaction/{{ptid}}
    </a>
</p>