[[SUBJECT: Infinex account verification]]
<h3 style="color: #3771c8;">Infinex account verification</h3>
<p>
    Hello. Your Infinex account has been created.
    We need to confirm your email address.
</p>
<p>
    Enter this code on the verification page:
</p>
<h1>{{code}}</h1>
<p>
    Or use the link below to activate your account:<br>
    <a href="https://infinex.cc/account/verify?email={{email_urlencoded}}&code={{code}}">
        https://infinex.cc/account/verify?email={{email_urlencoded}}&code={{code}}
    </a>
</p>